.board-holder {
  margin: auto;
  width: 600px;
  height: 600px;
  border: 2px solid black;
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  height: calc(100% / 8);
  display: flex;
}

.tile {
  border: 2px solid black;
  width: calc(100% / 8);
  height: 100%;
}

.white-tile {
  background-color: rgb(252, 240, 219);
}

.black-tile {
  background-color: rgb(6, 75, 6);
}
